 body {
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin: 0;
            padding: 0;
            color: #111;
            background-color: #ffffff;
            line-height: 1.6;
            scroll-behavior: smooth; 
        }

        .container {
            max-width: 100%;
            margin: 0 auto;
            padding: 40px 20px;
        }

        .navbar {
            padding: 0 0 30px 0;
            border-bottom: 1px solid #eee;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.1em;
            margin-bottom: 40px;
            flex-wrap: wrap;
        }
        .logo {
            font-weight: 600;
            font-size: 1.2em;
            letter-spacing: 1px;
        }

        .nav-right a {
            text-decoration: none;
            color: #111;
            white-space: nowrap;
            margin-left: 25px;
        }
        .menu-toggle {
            display: none;
            font-size: 1.7em;
            cursor: pointer;
        }

        .main-heading {
            font-size: 2.2em;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 40px;
            line-height: 1.1;
        }

        .section-heading {
            font-size: 1.8em;
            font-weight: 700;
            padding-top: 20px; 
            margin-top: 35px;
            margin-bottom: 15px;
        }
        .section-heading ul{
            list-style-type: none;
        }
        
        ul {
            list-style-type: disc;
            margin-left: 20px;
            padding-left: 0;
        }
        
        li {
            margin-bottom: 10px;
            font-size: 1em;
        }
        .video-link{
            color: black;
            text-decoration: none;
        }
        .video-link:hover{
            color: blue;
        }
        
        .checklist {
            list-style-type: none; 
            margin-left: 0;
            padding-left: 0;
        }
        .checklist li {
            margin-bottom: 5px;
        }
        
        .read-button {
            display: inline-block;
            background-color: #a02020;
            color: #ffffff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 4px;
            margin-top: 30px;
            font-weight: bold;
            font-size: 1em;
            cursor: pointer;
            border: none;
        }
        .site-footer {
                background-color: #c9c5c5;
                text-align: center;
                padding: 20px 10px;
                font-size: 1em;
                color: #090909;
                margin-top: 10px;
                line-height: 1.6em;
            }
            .site-footer p{
                margin: 5px 0;
            }

            .back-btn {
                display: inline-block;
                background: crimson;
                color: white;
                padding: 12px 20px;
                text-decoration: none;
                border-radius: 6px;
                font-size: 16px;
            }

            .back-btn:hover{
                background: #b30000;
            }
        @media (max-width: 900px) {
            
            .container {
                padding: 20px 15px;
            }

            .nav-right a {
                margin-left: 10px 0;
                font-size: 0.9em;
            }   

            .navbar {
                flex-direction: flex; 
                gap: 5px;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
            .menu-toggle {
                display: block;
            }
            .nav-right{
                display: none;
                flex-direction: column;
                width: 100%;
                margin-top: 15px;
            }
            .nav-right.show{
                display: flex;
            }

            .main-heading {
                font-size: 1.8em;
                margin-bottom: 30px;
            }

            .section-heading {
                font-size: 1.5em;
                margin-top: 25px;
            }
            .site-footer{
                width: 100%;
            }
        }
        ::selection{
  color: #fff;
  background: #0D6EFD;
}
.wrapper{
  width: 715px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
}
.wrapper header{
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.wrapper form{
  margin: 35px 30px;
}
.wrapper form.disabled{
  pointer-events: none;
  opacity: 0.7;
}
form .dbl-field{
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}
.dbl-field .field{
  height: 50px;
  display: flex;
  position: relative;
  width: calc(100% / 2 - 13px);
}
.wrapper form i{
  position: absolute;
  top: 50%;
  left: 18px;
  color: #ccc;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.field input::placeholder,
.message textarea::placeholder{
  color: #ccc;
}
.field input:focus,
.message textarea:focus{
  padding-left: 47px;
  border: 2px solid #121212;
}
.field input:focus ~ i,
.message textarea:focus ~ i{
  color: #121212;
}
form .message{
  position: relative;
}
form .message i{
  top: 30px;
  font-size: 20px;
}
form .message textarea{
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar{
  width: 0px;
}
.message textarea:focus{
  padding-top: 14px;
}
form .button-area{
  margin: 25px 0;
  display: flex;
  align-items: center;
}
.button-area button{
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #101011;
  transition: background 0.3s ease;
}
.button-area button:hover{
  background: #fafbfc;
  color: #090909;
}
.button-area span{
  font-size: 17px;
  margin-left: 30px;
  display: none;
}
@media (max-width: 600px){
  .wrapper header{
    text-align: center;
  }
  .wrapper form{
    margin: 35px 20px;
  }
  form .dbl-field{
    flex-direction: column;
    margin-bottom: 0px;
  }
  form .dbl-field .field{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }
  form .message textarea{
    resize: none;
  }
  form .button-area{
    margin-top: 20px;
    flex-direction: column;
  }
  .button-area button{
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .button-area span{
    margin: 20px 0 0;
    text-align: center;
  }
}