 body {
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin: 0;
            padding: 0;
            color: #111;
            background-color: #ffffff;
            line-height: 1.6;
            scroll-behavior: smooth; 
        }

        .container {
            max-width: 100%;
            margin: 0 auto;
            padding: 40px 20px;
        }

        .navbar {
            padding: 0 0 30px 0;
            border-bottom: 1px solid #eee;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.1em;
            margin-bottom: 40px;
            flex-wrap: wrap;
        }
        .logo {
            font-weight: 600;
            font-size: 1.2em;
            letter-spacing: 1px;
        }

        .nav-right a {
            text-decoration: none;
            color: #111;
            white-space: nowrap;
            margin-left: 25px;
        }
        .menu-toggle {
            display: none;
            font-size: 1.7em;
            cursor: pointer;
        }

        .main-heading {
            font-size: 2.2em;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 40px;
            line-height: 1.1;
        }

        .section-heading {
            font-size: 1.8em;
            font-weight: 700;
            padding-top: 20px; 
            margin-top: 35px;
            margin-bottom: 15px;
        }

        
        ul {
            list-style-type: disc;
            margin-left: 20px;
            padding-left: 0;
        }
        
        li {
            margin-bottom: 10px;
            font-size: 1em;
        }
        .video-link{
            color: black;
            text-decoration: none;
        }
        .video-link:hover{
            color: blue;
        }
        
        .checklist {
            list-style-type: none; 
            margin-left: 0;
            padding-left: 0;
        }
        .checklist li {
            margin-bottom: 5px;
        }
        
        .read-button {
            display: inline-block;
            background-color: #a02020;
            color: #ffffff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 4px;
            margin-top: 30px;
            font-weight: bold;
            font-size: 1em;
            cursor: pointer;
            border: none;
        }
        .site-footer {
                background-color: #c9c5c5;
                text-align: center;
                padding: 20px 10px;
                font-size: 1em;
                color: #090909;
                margin-top: 10px;
                line-height: 1.6em;
            }
            .site-footer p{
                margin: 5px 0;
            }

            .back-btn {
                display: inline-block;
                background: crimson;
                color: white;
                padding: 12px 20px;
                text-decoration: none;
                border-radius: 6px;
                font-size: 16px;
            }

            .back-btn:hover{
                background: #b30000;
            }
        @media (max-width: 900px) {
            
            .container {
                padding: 20px 15px;
            }

            .nav-right a {
                margin-left: 10px 0;
                font-size: 0.9em;
            }   

            .navbar {
                flex-direction: flex; 
                gap: 5px;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
            .menu-toggle {
                display: block;
            }
            .nav-right{
                display: none;
                flex-direction: column;
                width: 100%;
                margin-top: 15px;
            }
            .nav-right.show{
                display: flex;
            }

            .main-heading {
                font-size: 1.8em;
                margin-bottom: 30px;
            }

            .section-heading {
                font-size: 1.5em;
                margin-top: 25px;
            }
        }